<h1><strong>Articles</strong></h1>
<% @articles.each do |article| %>
    <h2><%= link_to article.title, article_path(article) %></h2>
    <p><%= article.content %></p>
  <% end %>
  <p><%= link_to "add a new article", new_article_path %></p>
